<div class="container">
    <div id="about" class="section scrollspy">
      <div class="row">
	<h3 class="center"><span class="above_demo">About CopenHacks</span></h3>
      </div>
      
      <!--   Icon Section   -->
      <div class="row valign-wrapper">
	
        <div class="col s12 ">
          <!--div class="icon-block"-->
	    <p> The idea for CopenHacks came in mid-2015 by a student at the Technical University of Denmark (DTU): A Copenhagen Hackathon that would take place near the university, that had a focus on learning and fun, and that would be open to anyone interested in playing with innovative solutions and building awesome stuff. It would differ from other local Hackathons in that it would not ask participants/students to build on existing solutions or work on specific sponsor programs to solve a company's specific pressing issue. Rather, the Hackathon would be focused on getting to meet fellow hackers, dedicate 24 hours on that one great idea, and give a weekend of opportunities to learn from the best.
	    </p>
	  	<p> CopenHacks was conceived with the intention of having both local and international students from many different backgrounds to come together to work on any project they like, using whichever tech they like, with the hopes of starting a more progressive, inviting, supportive, and enriching 'hacker' culture in Denmark.
	    </p>
          <!--/div-->
        </div>
      </div>

    </div>
  </div>